name: build_docker

on:
  push:
    branches:
    - main
    workflow_dispatch:  # Allows manual triggering

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - name: Download file from Google Drive
        uses: ChrisTitus/google-drive-download@main
        with:
          # st-stm32cubeclt_1.20.0_26822_20251117_1245_amd64.deb_bundle.sh.zip
          # https://drive.google.com/file/d/1zery3q9J_yYap6Ae_7QGSK8iojKNInVB/view?usp=drive_link
          id: '1zery3q9J_yYap6Ae_7QGSK8iojKNInVB'  # Replace with your file ID
          destination: '.'